html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

header, h2, h3 {
  font-family: "PT Sans Narrow", sans-serif;
}

strong {
  font-style: italic;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

img {
  display: block;
  width: 100%;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 3rem;
  justify-content: space-between;
  background-color: #bd027d;
  list-style-type: none;
}
